.jumbotron{
    color: white;
    background-image: url("https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.block{
    background-color: blue;
    color: white;
}
.header{
    background-color: black;
    height: 5em;
}
.footer{
    background-color: black;
    height: 5em;
}
.black{
    background-color: black;
    margin-bottom: 0px;
}
.white-font{
    color: white;
}
.about{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-button{
    height:100%;
    width:100%;
    margin: 0px;
    display: block;
    margin-bottom: 0px;
}
.portfolio{
    padding-top: 50px;
    padding-bottom: 50px;}
.portfolio-button{
    height:100%;
    width:100%;
    margin: 0px;
    display: block;
    margin-bottom: 0px;
}
.resume{
    padding-top: 50px;
    padding-bottom: 50px;
}
.resume-button{
    height:100%;
    width:100%;
    margin: 0px;
    display: block;
    margin-bottom: 0px;
}
.no-margin{
    margin: 0px 0px 0px 0px;
}
.navbar{
    border: none;
    border-radius: 0px;
}