.jumbotron{
    color: white;
    background-image: url("https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.block{
    background-color: blue;
    color: white;
}
.header{
    background-color: black;
    height: 5em;
}
.footer{
    background-color: black;
    height: 5em;
}
.black{
    background-color: black;
    margin-bottom: 0px;
}
.white-font{
    color: white;
}
.button-style{
    height:20em;
    margin: 0px;
    display: block;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: grey;
    outline: black solid 1px;
}
.button-padding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.no-margin{
    margin: 0px 0px 0px 0px;
}
.navbar{
    border: none;
    border-radius: 0px;
}
.subheading{
    margin: 0px 0px 0px 0px;
    height: 5em;
    widows: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-content: center;
}
.row{
    margin-right: 0em;
    margin-left: 0em;
}
/* Card Flip */
.flip {
  -webkit-perspective: 800;
perspective: 800;

    position: relative;
 
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
}
.flip .card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
  z-index: 2;
   
}
.flip .card .front {
  position: absolute;
   width: 100%;
  z-index: 1;

}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);}
